<html itemscope itemtype="http://schema.org/Article">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>

    <script>
        function start() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    client_id: '446607559230-n4138eaa59ae2lbq1f4jg6q65nc6o3en.apps.googleusercontent.com',
                });
            });
        }
    </script>

</head>
<body>
<nav style="margin-bottom: 30px" class="navbar navbar-light bg-light">
    <h1 style="margin: 20px">
        <a style="text-decoration: none" href="{{url_for('show_categories')}}"> Catalog App </a>
    </h1>
</nav>
<div class="jumbotron text-center card card-container">

    <h2>Login using one of the following</h2>
    <hr>
    <div id="result"></div>
    <div style="text-align: center" >
    <button id="signinButton">Sign in with Google</button>
    </div>
    <script>
        $('#signinButton').click(function() {
            // signInCallback defined in step 6.
            auth2.grantOfflineAccess().then(signInCallback);
        });
    </script>

    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {

                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');

                // Send the code to the server
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    // Always include an `X-Requested-With` header in every AJAX request,
                    // to protect against CSRF attacks.
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        window.location.href = "/";
                    },
                    processData: false,
                    data: authResult['code']
                });
            } else {
                // There was an error.
            }
        }
    </script>

    <br>
    <br>


    <div>
        <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
            <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
        </fb:login-button>
    </div>

    <!--FACEBOOK SIGN IN -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '407164376564418',
                cookie: true, // enable cookies to allow the server to access
                // the session
                xfbml: true, // parse social plugins on this page
                version: 'v2.2' // use version 2.2
            });
        };
        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            console.log(access_token)
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{STATE}}',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/";
                            }, 4000);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                });
            });
        }
    </script>
</div>
<!--END FACEBOOK SIGN IN -->
</body>

</html>